h1 {
  text-align: center;
  padding-top: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
  margin: auto;
}

form input {
  padding: 0.5rem;
}

form button {
  padding: 0.5rem;
}

.success {
  font-size: 2rem;
  color: black;
  text-align: center;
}
